@{
    ViewBag.Title = "Home Page";
}
<main>
    <h1>Новости</h1>
    <input type="text" id="txt" placeholder="Адрес ресурса..." /> <button id="btn">Читать</button>
</main>

<script src="~/js/jquery-3.0.0.min.js"></script>
<script src="~/js/lurk.js"></script>