*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  padding: 0;
  margin: 0;
  height: 100%;
  color: #666666;
}
main {
    display: block;
    height: 100%;
    text-align: center;
    padding-top: 90px;
}
h1 {
    font-weight: 100;
    margin: 0 0 20px 0;
}
input {
    border: solid 1px #cfcfcf;
    padding: 6px 10px 6px 10px;
    margin-right: 10px;
    width: 40%;
    min-width: 210px;
    border-radius: 2px;
    color: #666666;
}
input:hover {
    border: solid 1px #c0c0c0;
}
input:focus {
    border: solid 1px #999999;
    outline: none;
}

button {
    background-color: #e0e0e0;
    border: none;
    border-radius: 2px;
    padding: 7px 12px 7px 12px;
}
button:hover {
    background-color: #dcdcdc;
}
button:focus {
    outline: none;
    padding: 6px 11px 6px 11px;
    border: solid 1px #999999;
}
button:active {
    transform: translateY(1px);
}