@{
    ViewBag.Title = "Home Page";
}

<div>

    <input type="text" id="txt" /> <button id="btn">Читать</button>

</div>

<script src="~/js/jquery-3.0.0.min.js"></script>
<script src="~/js/lurk.js"></script>